.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.btn {
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}

.form-select {
  max-width: 120px;
}
