Updated Bet Form Template

<div class="modal-header">
    <h4 class="modal-title">Place Bet</h4>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <div class="form-section">
        <form [formGroup]="betForm" (submit)="onSubmit()" class="bet-form">
            <div class="bet-type-selection">
                @for (betType of betTypes; track betType.type) {
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               [value]="betType.type"
                               formControlName="betType"
                               [id]="betType.type">
                        <label class="form-check-label text-dark" [for]="betType.type">
                            {{betType.displayValue}}
                        </label>
                    </div>
                }
            </div>

            @switch (betForm.get('betType')?.value) {
                @case (BetTypes.MONEYLINE) {
                    <div class="range-container">
                        <label class="form-label">Select Value</label>
                        <mdb-range
                                formControlName="wagerValue"
                                [min]="-50"
                                [max]="50"
                                [step]="1">
                        </mdb-range>
                    </div>
                }
                @case (BetTypes.OVER_UNDER) {
                    <div class="input-container">
                        <label class="form-label">Enter Value</label>
                        <input type="number"
                               class="form-control"
                               formControlName="wagerValue"
                               min="10"
                               max="100">
                    </div>
                }
                @case (BetTypes.POINT_SPREAD) {
                    <div class="range-container">
                        <label class="form-label">Select Value</label>
                        <mdb-range
                                formControlName="wagerValue"
                                [min]="10"
                                [max]="100"
                                [step]="0.5">
                        </mdb-range>
                    </div>
                }
            }

            <div class="amount-input">
                <label class="form-label">Bet Amount</label>
                <input type="number"
                       class="form-control"
                       formControlName="wagerAmount"
                       placeholder="Enter amount (max $5000)"
                       min="0"
                       max="5000">
                @if (betForm.get('wagerAmount')?.errors?.['min']) {
                    <div class="error-message">Amount must be greater than 0</div>
                }
                @if (betForm.get('wagerAmount')?.errors?.['max']) {
                    <div class="error-message">Amount must be less than 5000</div>
                }
            </div>
        </form>
    </div>

    <div class="betting-section d-flex justify-content-between mt-4">
        <div class="bet-col">
            <div class="bet-label">Spread</div>
            <div><span class="value">{{game.spread}}</span></div>
        </div>
        <div class="bet-col">
            <div class="bet-label">Money line</div>
            <div class="lines">
                <div>{{game.homeTeam.name}} <span class="value">{{game.moneylineHome}}</span></div>
                <div>{{game.awayTeam.name}} <span class="value">{{game.moneylineAway}}</span></div>
            </div>
        </div>
        <div class="bet-col">
            <div class="bet-label">O/U</div>
            <div><span class="value">{{game.overUnderTotal}}</span></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!betForm.valid">Submit</button>
    <button class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>
