/* You can add global styles to this file, and also import other style files */


@import "./assets/scss/app.scss";
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import 'ag-grid-community/styles/ag-grid.css';
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
